// content menu
.content-menu-tooltip {
    padding: 4px;
    padding-bottom: 8px;
}

// menu item
.menu-tooltip-item {
    height: 40px;
    padding: 0px 16px;
    font-size: 1.45rem;
    border-radius: 8px;

    &:hover {
        background-color: var(--default-hover-bg);

        p {
            color: var(--default-hover-color);
        }
    }
}
