* {
    scroll-behavior: smooth;
}

.wrapper-header-only {
    background: var(--default-bg-color);
}

.content-header-only {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: var(--default-header-height);
}
