// css for render search result
.wrapper-tooltip {
    width: 100%;
    // min-width: 350px;
    max-width: 560px;
    max-height: 50vh;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 12px 24px rgba(47, 63, 86, 0.2);
}

.wrapper-items {
    width: 100%;
}

// tooltip for search
.searchTooltip {
    min-width: 400px;
}

// tooltip for notify
.notifyTooltip {
    width: 516px;
    overflow-y: hidden;
}

// tooltip for menu
.menuTooltip {
    width: 364px;
    overflow-y: hidden;
}

// tooltip for sb item
.sbItem {
    width: 214px;
    padding: 8px 4px;
    overflow-y: hidden;
}
