.admin-search-label {
    max-width: 350px;
}

.admin-search-result {
    background: var(--default-bg-color);

    th,
    td {
        vertical-align: middle;
    }
}

@media (max-width: 992px) {
    .admin-search-user {
        flex-direction: column;
    }

    .admin-search-label {
        max-width: none;
    }
}
